//**********************************
// Applied to body of site
//**********************************

body {
  background-color: $bg-color;
  color: $font-color;
  font-family: $main-font;
  font-size: $base-font-size;
  text-align: center;
}
