// For the article grid

ul {
  display: flex;
}

li {
  flex: 0 2 auto;
  list-style: none;
  position: relative;
  height: 50%;

  @include media ($tablet-width) {
    flex: 0 2 50%;
  }
  @include media ($desktop-width) {
    flex: 0 2 25%;
  }
}

.articleList {
flex-direction: row;
flex-wrap: wrap;
  }

.caption {
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%);
    position: absolute;
    bottom: 0.1%;
    text-align: left;
}
