//****************************************************
// Image that displays before articles are loaded
//****************************************************
.loadingImage img{
  width: 50px;
  margin: 0 auto;
}

//****************************************************
// For the article grid
//****************************************************
.apiList {
  display: flex;
}

.article-grid {
  // flex: 0 2 auto;
  width:100%;
  list-style: none;
  position: relative;
  height: 40%;

  @include media ($tablet-width) {
    // flex: 0 2 50%;
    width: 50%;
  }
  @include media ($desktop-width) {
    // flex: 0 2 25%;
    width: 25%;
  }
}

.articleList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

.article-grid {
  height: 420px;
  background-size: cover;
  @include media ($tablet-width) {
    height: 267px;
  }
}

li {
  cursor: pointer;
}

.caption {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0.1%;
    text-align: left;
}

//Set width of Selectric plugin and centre
.selectric {
  width: 180px;
  margin: 0 auto;
}
