//****************************************************
// Image that displays before articles are loaded
//****************************************************
.loadingImage img{
  width: 50px;
  margin: 0 auto;
}

//****************************************************
// For the article grid
//****************************************************
.apiList {
  display: flex;
}

.article-grid {
  width:100%;
  list-style: none;
  position: relative;
  height: 40%;

  @include media ($tablet-width) {
    width: 50%;
  }
  @include media ($desktop-width) {
    width: 25%;
  }
}

.articleList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

.article-grid {
  height: 420px;
  background-size: cover;
  @include media ($tablet-width) {
    height: 267px;
  }
}

li {
  cursor: pointer;
}

.caption {
    font-family: $main-font;
    font-size: $base-font-size;
    text-align: left;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
}

//Selectric JQuery plugin for selects
.selectric {
  width: 180px;
  margin: 0 auto;
  background: #2c3e50;
  .label {
    color: $font-color;
  }
}

.selectric .button {
  background: #2c3e50;
}
