footer {
  align-content: flex-end;
  text-align: center;
  font-size: 1.25rem;
  color: #c2c2c2;
  @include media ($desktop-width) {
    text-align: left;
  }
}

.format-text {
  text-transform: uppercase;
}
