header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.16rem;
  @include media ($tablet-width) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  }
}

//****************************
// Sections drop-down menu
//****************************

.logo {
  @include media ($tablet-width) {
    display: inline-flex;
    height: 144px;
    border: 2px dotted green;
  }
}

.topics {
  @include media ($tablet-width) {
    border: 2px dotted red;

  }
}

p {
  padding: 1rem;
  font-size: .75rem;
}

select {
  padding: 2.5px;
  font-size: 1rem;
  outline-color: #000;
}

select:active, select:hover {
  outline-color: #000;
}
