//Used to specify device width for media query
$tablet-width: 600px;
$desktop-width: 1000px;

//Applied to all content
$main-font: 'Open Sans', sans-serif;
$bg-color: #000000;
$font-color: #ffffff;
$base-font-size: 16px;
